.columnBox1 {
  width: 450px;
  float: left;
  padding: 10px;
  border: solid plum;
  border-width: 10px;
  margin-right: 10px;
  box-sizing:border-box;
}

.center {
  text-align: center;
}

.columnBox1 p {
  font-size: smaller;
  background-color:mistyrose;
  font-style: italic;
}

.columnBox1 h1 {
  background-color:slateblue;
}
.petName {
  color:seagreen;
  font-weight:bold;

}
.columnBox1 img {
  height: auto;
  border:5px solid rgb(0, 0, 0);
  border: dashed;
}

img{
  float:none;
  width: 120px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  background-color:whitesmoke;
}